.mainCont{
    background-color: var(--main-bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formCont{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.formCont h1{
    font-size: 37px;
    font-weight: bold;
}