@import "tailwindcss";

body{
    font-size: 16px;
}

:root{
    --main-bg: #E6CCB2;
    --sub-bg: #EDE0D4;
    --color-btn: #B08968;
    --color-btn-active: #DDB892;
    --theme-textBtn: rgb(255,255,255);
}

@theme {
  --color-main: var(--main-bg);
  --color-sub: var(--sub-bg);
}

.simpleForms{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--sub-bg);
    padding: 20px;
    border-radius: 10px;
}

.simpleForms input{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.simpleForms textarea{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.simpleForms textarea:focus{
    outline: none;
}

.simpleForms input:focus{
    outline: none;
}

.submitBtn{
    background-color: var(--color-btn);
    font-weight: bold;
    padding: 15px 0px;
    border-radius: 5px;
    color: var(--theme-textBtn);
    transform: translateY(-2px);
    transition: transform 0.15s
}

.submitBtn:hover{
    cursor: pointer;
    transform: translateY(0px);
}

.loadingBtn{
    background-color: var(--color-btn-active);
    font-weight: bold;
    padding: 15px 0px;
    border-radius: 5px;
    color: var(--theme-textBtn);
    transform: translateY(-2px);
    transition: transform 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simpleMains{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--main-bg);
}